{% extends 'base.html' %}

{% block footer %}
<h1>{% block title %}Posts{% endblock %}</h1>
{% for source, count in counts.items() %}

<p class="text-slate-400 text-xs">{{ count }} articles from {{ source }}</p>

{% endfor %}
{% endblock %}

{% block content %}
{% for post in articles %}
<article class="grid grid-cols-2 border rounded-md items-start space-x-6 p-6 h-96 overflow-hidden">
  <div class="col-span-2 mx-6">
    <h2 class="text-2xl font-bold py-2"><a href="/{{ post.url}}" class="visited:text-slate-300">{{ post.title
        |safe }}</a></h2>
  </div>
  <div class="h-48 overflow-hidden">
    <p class="text-slate-400 text-xs pb-4">From {{ post.feedfrom }} on {{ post.date.strftime('%Y-%m-%d') }}</p>
    <p class="h-48">{{ post.summary | striptags |truncate(225, False, '...', 5)
      }}</p>
  </div>
  {% if post.image is not none %}
  <div class="h-48">
    <a href="/{{ post.url}}" class="visited:grayscale"><img src="{{ post.image }}"
        class="flex-none rounded-md bg-slate-100 drop-shadow-md object-cover h-48"></a>
  </div>
  {% endif %}
</article>
{% endfor %}
{% endblock %}